body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formItem {
    margin-left: 30px;
}

.brandTitle {
    width: 144px;
}

.resetLink {
    cursor: pointer;
}

.hotels-table {
    margin-top: 20px;
}

.deleteHotel {
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: #a94442;
}

.deleteHotel:hover {
    transform: scale(1.5);
    color: #a94442;
}

.hotelImg {
    max-width: 100%;
}

.amenitie-badge {
    display: inline-block;
    margin-right: 5px;
}